#container {
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

#container iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 150vh;
  transform: translate(-50%, -50%);
}

@media (min-aspect-ratio: 16/9) {
  #container iframe {
    height: 56.25vw;
  }
}

@media (max-aspect-ratio: 16/9) {
  #container iframe {
    width: 177.78vh;
  }
}

#overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
}
